.app {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.app button {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    background-color: darkred;
    color: white;   
}

.box {
    background-color: gold;
    width: 300px;
    height: 100px;
    margin-top: 20px;
    transition: width 1s, height 1s;
}

.box-collapse {
    width: 0;
    height: 0;
}